@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: system-ui, -apple-system, sans-serif;
}

/* GLOBAL SCROLLBAR HIDE */
/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  display: none;
  width: 0px;
  background: transparent;
}

/* IE and Edge */
.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

/* Ensure root takes full height for flex layouts */
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}